body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(232, 238, 255);
}
.panel {
    width: 100%;
    height: 180px;
    position: fixed;
    z-index: 10;
    top: 0px;
    background-color: rgb(144, 209, 218);
    border-end-end-radius: 50px;
    border-bottom-left-radius:  50px;
    border: 2px solid white;
    text-align: center;
}

.panel span {
    text-align: center;
    font-size: 90px;
}

.ball {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
    margin: 50px;
    border: 2px solid white;
    animation: myAnimation 3s linear 0.5s infinite normal running;
        -moz-animation: myAnimation 3s linear 0.5s infinite normal running;
        -webkit-animation: myAnimation 3s linear 0.5s infinite normal running;
        -o-animation: myAnimation 3s linear 0.5s infinite normal running;
        animation-iteration-count: 5;
    transition: scale 0.5s;
}

.ball:active {
    scale: 0;
}

.one {
    background-color: rgb(179, 104, 104);
    animation-delay: 2s;
    right: 10px;
}

.two {
    background-color: rgb(19, 201, 131);
    animation-delay: 3s;
    right: 50px;
}

.tree {
    background-color: rgb(209, 199, 54);
    animation-delay: 4s;
    left: 50px;
}

.thoght {
    background-color: rgb(123, 118, 192);
    animation-delay: 4.5s;
    left: 80px;
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(52, 194, 199);
}
.level {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.356);
}

.level p {
    font-size: 50px;
    text-align: center;
}
.level {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.level p {
    font-size: 50px;
    text-align: center;
}

.rep {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

@keyframes  myAnimation {
    from {bottom: 0px;}
    to {bottom: 900px;}
}